[Database Types_1]
Name=oracle
JDBC JAR Count=1
JDBC JAR_0=/path/to/jdbc/driver/classes12.jar
JDBC Driver Class=oracle.jdbc.driver.OracleDriver
ca.sqlpower.architect.etl.kettle.connectionType=Oracle
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_0=BIGINT, BIGINT, -5, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_1=BINARY, BINARY, -2, true,false,false,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_2=BIT, BIT, -7, true,false,false,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_3=BLOB, BLOB, 2004, true,false,false,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_4=CHAR, CHAR, 1, true,false,false,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_5=CLOB, CLOB, 2005, true,false,false,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_6=DATE, DATE, 91, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_7=DECIMAL, DECIMAL, 3, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_8=DOUBLE, DOUBLE, 8, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_9=FLOAT, FLOAT, 6, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_10=INTEGER, INTEGER, 4, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_11=LONGVARBINARY, LONGVARBINARY, -4, false,false,false,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_12=LONGVARCHAR, LONGVARCHAR, -1, false,false,false,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_13=NUMERIC, NUMERIC, 2, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_14=REAL, REAL, 7, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_15=SMALLINT, SMALLINT, 5, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_16=TIME, TIME, 92, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_17=TIMESTAMP, TIMESTAMP, 93, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_18=TINYINT, TINYINT, -6, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_19=VARBINARY, VARBINARY, -3, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_20=VARCHAR, VARCHAR, 12, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ColumnProfileResult$StringLengthSQLFunction=LENGTH(:)
ca.sqlpower.architect.profile.ColumnProfileResult$AverageSQLFunction=AVG(:)
ca.sqlpower.architect.profile.ColumnProfileResult$CaseWhenNullSQLFunction=CASE WHEN : IS NULL THEN : END
[Database Types_2]
JDBC Driver Class=com.microsoft.sqlserver.jdbc.SQLServerDriver
JDBC JAR_0=/path/to/jdbc/driver/sqlserver_2005.jar
JDBC JAR Count=1
JDBC URL=jdbc:sqlserver://<Hostname>:<Port:1433>
Name=SQL Server
DDL Generator=ca.sqlpower.architect.ddl.SQLServerDDLGenerator
ca.sqlpower.architect.etl.kettle.connectionType=MS SQL Server
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_0=bit, bit, -7, true,false,false,false,false,false,false,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_1=tinyint, INTEGER, -6, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_2=tinyint identity, INTEGER, -6, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_3=bigint, INTEGER, -5, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_4=bigint identity, INTEGER, -5, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_5=numeric, numeric, 2, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_6=numeric(), numeric, 2, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_7=decimal, decimal, 2, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_8=decimal(), decimal, 2,true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_9=int, INTEGER, 4,true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_10=int identity, INTEGER, 4, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_11=smallint, INTEGER, 4,true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_12=smallint identity, INTEGER, 4,true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_13=float, float, 6, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_14=real, real, 7,true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_15=money, money, 2, true,true,true,true,false,false,false,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_16=smallmoney, smallmoney, 7, true,true,true,true,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_17=text, text, 2005, false,false,false,false,false,false,false,false
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_18=ntext, ntext, 2005, false,false,false,false,false,false,false,false
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_19=image, image, 2004, false,false,false,false,false,false,false,false
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_20=datetime, datetime, 93, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_21=smalldatetime, smalldatetime, 93, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_22=varbinary, varbinary, -3, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_23=binary, binary, -2, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_24=char, char, 1, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_25=nchar, nchar, 1, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_26=varchar, varchar, 12, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_27=nvarchar, nvarchar, 12, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_28=sysname, sysname, 12, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_29=timestamp, timestamp, 2006, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_30=uniqueidentifier, uniqueidentifier, 2006, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ProfileFunctionDescriptor_31=sql_variant, sql_variant, 2006, true,true,true,false,true,true,true,true
ca.sqlpower.architect.profile.ColumnProfileResult$StringLengthSQLFunction=LEN(:)
ca.sqlpower.architect.profile.ColumnProfileResult$AverageSQLFunction=AVG(CONVERT(DECIMAL,:))
ca.sqlpower.architect.profile.ColumnProfileResult$CaseWhenNullSQLFunction=CASE WHEN : IS NULL THEN : END
[Databases_1]
Logical=Test Oracle
Connection Type=oracle
PWD=weijok|
PL Schema Owner=mm_test
DSN=
JDBC URL=jdbc:oracle:thin:@hostname:1521:database
UID=mm_test
[Databases_2]
Logical=Test Sql Server
Connection Type=SQL Server
PWD=weijok|
PL Schema Owner=mm_test
DSN=
JDBC URL=jdbc:sqlserver://hostname:1433;SelectMethod=cursor;DatabaseName=mm_test
UID=mm_test
