# A user-specific file to configure the MatchMaker build script

# Unix-based build pathname example 
# build=/absolute/path

# Windows-based build pathname example 
# build=C:\\absolute\\path

# SQL Power Library project directory (set this to the sqlpower-library project directory)
# sqlpower.library.home=/path/to/sqlpower_library/

# Set value to have the build script only copy the SQL Power Library project (not build)
# Otherwise, leave the property unset (leaving it commented should be enough).
# only.copy.sqlpower.library=true

# Set the output format for the FindBugs report. 
# findbugs.report.format=html

# Set the output format for the PMD report.
# pmd.report.format=html