<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

     <session-factory>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <mapping file="./hibernate/PlFolder.hbm.xml"/>
        <mapping file="./hibernate/PlMatch.hbm.xml"/>
        <mapping file="./hibernate/PlMatchTranslate.hbm.xml"/>
        <mapping file="./hibernate/PlMatchTranslateGroup.hbm.xml"/>
        <mapping file="./hibernate/PlMatchXrefMap.hbm.xml"/>
        <mapping file="./hibernate/PlMatchCriteria.hbm.xml"/>
        <mapping file="./hibernate/PlMatchGroup.hbm.xml"/>
        <mapping file="./hibernate/PlMergeCriteria.hbm.xml"/>
        <mapping file="./hibernate/PlMergeConsolidateCriteria.hbm.xml"/>
    </session-factory>

</hibernate-configuration>
